@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;700;900&family=Poppins:ital,wght@0,400;0,500;0,900;1,600&family=Roboto:wght@400;700&display=swap");

// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}
// COLORS
$light-color: #ffffff;
$dark-color: #000000;
$primary-color: #ebd96b;
$secondary-color: #7f7f7f;
